{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Наша ферма существует уже более 20 лет. За это время на ней проживало множество разнообразных животных. Лошади, коровы, свиньи, козы, бараны, куры, перепела, фазаны, а также енот и медведь.
    На данный момент на ферме живут кони, куры и три коровы.
    Жители фермы требуют времени и внимания каждый день. Жизнь фермы - это каждодневный труд и график, который не каждому по силам. На данный день наша команда состоит из трех человек, которые обеспечивают деятельность хозяйства.</p>

{% endblock %}
